/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: IrishGrover;
  src: url("./src/Fonts/IrishGrover-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Itim;
  src: url("./src/Fonts/Itim-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 7.993rem;
  font-family: IrishGrover;
}
h2 {
  font-size: 5.653;
  font-family: Itim;
}
h3 {
  font-size: 3.998rem;
  font-family: Itim;
}
h4 {
  font-size: 2.827rem;
  font-family: Itim;
}
h5 {
  font-size: 1.999rem;
  font-family: Itim;
}
h6 {
  font-size: 1.414rem;
  font-family: Itim;
}
p {
  font-size: 1rem;
  font-family: Itim;
}
small {
  font-size: 0.708rem;
  font-family: Itim;
}

/* Variablen / Color */
:root {
  --color1: #373f51;
  --color2: #61e786;
  --color3: #f19a3e;
  --color4: #d81e5b;
  --color5: #d8dbe2;
  --Color6: #3f84e5;
}

.container-guess {
  height: 100vh;
  display: flex;
  gap: 2rem;
  .left-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    .color-code {
      background-color: var(--color1);
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem 4rem;
    }
    .top {
      color: var(--color5);
      text-align: center;
    }
    .timer {
      color: var(--color5);
      text-align: center;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      span {
        color: var(--color5);
      }
    }
    .buttons-container {
      background-color: var(--color1);
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem 4rem;
      .buttons-container1 {
        display: flex;
        justify-content: center;
        gap: 2rem;
        button {
          width: 8rem;
          height: 8rem;
          background-color: #ba5454;
        }
      }
      .buttons-container2 {
        display: flex;
        justify-content: center;
        gap: 2rem;
        button {
          width: 8rem;
          height: 8rem;
          background-color: #ba5454;
        }
      }
      .buttons-container3 {
        display: flex;
        justify-content: center;
        gap: 2rem;
        button {
          width: 8rem;
          height: 8rem;
          background-color: #ba5454;
        }
      }
    }
  }
  .right-side {
    border: 3px solid red;
    width: 40%;
  }
}

/* Media - Queries */
.container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
}
