/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: IrishGrover;
  src: url("./src/Fonts/IrishGrover-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Itim;
  src: url("./src/Fonts/Itim-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 7.993rem;
  font-family: Itim;
}
h2 {
  font-size: 5.653;
  font-family: IrishGrover;
}
h3 {
  font-size: 3.998rem;
  font-family: IrishGrover;
}
h4 {
  font-size: 2.827rem;
  font-family: IrishGrover;
}
h5 {
  font-size: 1.999rem;
  font-family: IrishGrover;
}
h6 {

  font-size: 1.414rem;
  font-family: IrishGrover;
}
p {
  font-size: 1rem;
  font-family: IrishGrover;
}
small {
  font-size: 0.708rem;
  font-family: IrishGrover;
}

/* Variablen / Color */
:root {
  --color1: #373F51;
  --color2: #61E786;
  --color3: #F19A3E;
  --color4: #D81E5B;
  --color5: #D8DBE2;
  --Color6: #3F84E5;
}

/* Media - Queries */
.container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
}